header{
  background-color: yellow;
}

h1 {
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

h2 {
  font: bold 10px cursive;
}

#news_home.home {
  color: red;
}

#news_new .test {
  color: blue;
}

header, aside, footer {
  border-width: 2px;
  border-color: cornflowerblue;
  border-style: solid;
  display: block;
}
p {
  text-align: right;
}

div.news_col {
  background-color: gray;
  padding: 5px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 25%;
  height: 30%;
  float: left;
}

footer.footer_site {
  clear: both;
}

header h1 {
  text-align: center;
}

ul.menu > li {
  display: inline-block;
}

blockquote[cite] {
  color: chocolate;
}


aside {
  margin-top: 10%;
  margin-left: 5%;
  width: 10%;
  height: 30%;
  float: left;
}

